.definition-block {
    background-color: #e0f7fa; /* Light blue background */
    border-left: 6px solid #00acc1; /* Darker blue border */
    padding: 10px;
    margin: 40px 0 10px 0;
    border-radius: 5px;
}

.definition-block p {
    margin: 0; /* Remove the top margin from paragraphs */
}

.definition-block > :first-child {
    font-weight: 800;
    font-style: italic;
    margin-bottom: 5px; /* Slight space between the title and the definition */
}

.definition-block > :not(:first-child) {
    padding-left: 30px; /* Slight space between the title and the definition */
}