# For Jupyter Notebooks
ipykernel
ipywidgets

# For machine learning
torch
torchvision
scikit-learn
transformers
accelerate # For Open Llama
huggingface_hub
mistral_inference # For Mistral
# google # For Mistral

# For plotting
matplotlib
seaborn

# For data manipulation
numpy
pandas

# For progress bars
tqdm

# # For scraping
# beautifulsoup4
# requests